{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Fight Game</h1>
    <p class="lead">Bienvenido a Fight Game el mejor juego de lucha de la red.</p>
    <p><a href=# class="btn btn-primary btn-large">Jugar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TORNEOS</h2>
        <p>
            TORNEOS TORNEOS TORNEOS TORNEOS
        </p>
        <p><a class="btn btn-default"" href="#">Torneos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>COMBATES</h2>
        <p>COMBATES COMBATES COMBATES COMBATES</p>
        <p><a class="btn btn-default"" href="#">Combates &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LUCHADORES</h2>
        <p>LUCHADORES, LUDCHADORES, LUCHADORES</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
