{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://image.ibb.co/bZKUQo/luchadorescarousel.jpg" alt="Image">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>      
      </div>

      <div class="item">
        <img src=https://image.ibb.co/izMLWT/bracketcarousel.jpg" alt="Image" width="100%">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>      
      </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>TORNEOS</h2>
        <p>
            TORNEOS TORNEOS TORNEOS TORNEOS
        </p>
        <p><a class="btn btn-default"" href="#">Torneos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>COMBATES</h2>
        <p>COMBATES COMBATES COMBATES COMBATES</p>
        <p><a class="btn btn-default"" href="#">Combates &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LUCHADORES</h2>
        <p>LUCHADORES, LUDCHADORES, LUCHADORES</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}